<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="Pass" value="T2pBCbWR/ZEE1OTE0"/>		
	</appSettings>
  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->
	<connectionStrings>
		<!--<add name="ConexionVersCom2k" connectionString="Data Source=servidorsql\sql2012;Initial Catalog=cli_urbania;User ID=uAPI-ERP-LecturaMaestros;Password=[LaClaveEsSecreta];MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>-->
		<add name="ConexionVersCom2k|enc" connectionString="R2pyzYiNcbnZ1bGQ+NEIxLzQ/Ny80NzI8THdodWxqayFGanNib3hmPllucXRmeGwzbkRUdGh7H0pHRnRCU1IsRlVZLE1obHN2dWpMYmh8c3NyfDpRZHxyeHJ7Yz5eVWBEb2p1Zkh8UmZme2R1ZGY6Tnh1c2pzdWRCZn1od2hbZHR4dXNUaH1yPld7dGY+"/>
	</connectionStrings>
</configuration>