<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="Pass" value="TGFCDbGF2ZUAyMDIy"/>
	</appSettings>
  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->
	<connectionStrings>
		<add name="ConexionVersCom2k" connectionString="Data Source=servidorsql\sql2012;Initial Catalog=cli_M5;User ID=sa;Password=010110jr;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>